* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
PALETTE

BACKGROUND : #F6F8F9
HEAD & MAIN BACK : #FFFFFF
EDITORIAL : #47ADF1
Q1 GOALS : #9C72E4
RECRUITING : #64C0A9
MOBILE : #F29E33
WEBSITES : #D863A1
SALES : #B0C926
BUTTON ADD TASKS : #47ADF1
text grey : #D6DADE
BORDER SHADOW : rgba(214, 218, 222, 0.5);

*/

/* UTILITY */

.white{
    background-color: #ffffff;
}

.blue{
    background-color: #47ADF1;
}

.violet{
    background-color:#9C72E4;
}

.menta{
    background-color:#64C0A9;
}

.orange{
    background-color: #F29E33;
}

.pink{
    background-color: #D863A1;
}

.acid{
    background-color: #B0C926;
}

.green{
    color: green;

    text-align: center;
    vertical-align: middle;

    border: 1px solid green;
    border-radius: 50%;
}

.red{
    color: red;

    text-align: center;
    vertical-align: middle;

    border: 1px solid red;
    border-radius: 50%;
}

.to-do{
    display: block;
    margin-bottom: 15px;
}

.editorial, .q1-goals, .mobile, .recruiting, .website, .sales{
    position: relative;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}



.text-lightgrey{
    color: #D6DADE;
    font-weight: 500;
}

.text-white{
    color:#FFFFFF;
    font-weight: 500;
}

.text-grey{
    color:#464A52;
    font-weight: 500;
}

.text-little-grey{
    color: #3F434D;
    font-weight: 500;
}
/* END UTILITY */

body {
    background-color: #F6F8F9
}

/* HEADER */

header {
    display: block;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    border:rgba(214, 218, 222, 0.5);


    /* border: 1px solid red; */
}

.title-container {
    display: block;
    position: relative;
    margin-left: 15px;

    /* border: 1px solid red; */
}

h1 {
    display: inline;
    font-size: 60px;
}

/* HEADER END*/

/* MAIN */

main{
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-color: #F6F8F9;


}

/* MAIN HEADER */
.main-input{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ffffff;

    margin-top: 50px;
    margin-bottom: 15px;
    border: 1px solid rgba(214, 218, 222, 0.5);

}

.style-button1{
    display: inline;
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #D6DADE;
    margin-top: 10px;
    margin-left: 40px;
}
.style-button2{
    display: inline;
    position: relative;
    border-radius: 5px;
    border: 1px solid #D6DADE;
    width: 110px;
    height: 30px;
}

/* END MAIN HEADER */

/* MAIN PAGE */
.main-page{
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    background-color: #FFFFFF;
    border: 1px solid rgba(214, 218, 222, 0.5);

}

.new-task, .today, .upcoming{
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    background-color: #ffffff;
}

.task-titles{
    display: inline-block;
    position: relative;
    width: 100%;
}

.hide-menu{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;

    font-size: 30px;
    text-align: center;
    border: none;
    background-color: #FFFFFF;

}

.style-task{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;

}

.box{
    display: inline-block;
    position: relative;
    width: auto;
}

.object-style{
    display: inline-block;
    position: relative;
    width: 21px;
    height: 21px;
}


/* END MAIN PAGE */



/* MAIN END */